@font-face {
    font-family: 'Vazirmatn';
    src: url('/profile-overview/font/static/Vazirmatn-Regular.woff2') format('woff2'),
        url('/profile-overview/font/static/Vazirmatn-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/profile-overview/font/static/Vazirmatn-Bold.woff2') format('woff2'),
        url('/profile-overview/font/static/Vazirmatn-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    font-family: 'Vazirmatn';
    direction: rtl;
}

.settings {
    direction: ltr;
}

.active {
    padding: calc(var(--padding-sm)*0.7) calc(var(--padding-md) * 1.1) calc(var(--padding-sm)*0.1) ;
    box-shadow: 0 2px 12px var(--shadow-color);
}