@font-face {
    font-family: 'Vazirmatn';
    src: url('/font/static/Vazirmatn-Regular.woff2') format('woff2'),
        url('/font/static/Vazirmatn-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('/font/static/Vazirmatn-Bold.woff2') format('woff2'),
        url('/font/static/Vazirmatn-Bold.woff') format('woff');
    font-weight: bold;
}
body {
    font-family: 'Vazirmatn';
    direction: rtl;
}
.settings {
    direction: ltr;
}